html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: teal;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgb(194, 194, 194);
    border: 2px black solid;
    box-sizing: border-box;
}

.circle select {
    position: relative;
    top: 35%;
    left: 10%;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #c2c2c2;
    border: 2px solid black;
    text-align: center;
}

.square input {
    width: 25%;
    box-sizing: border-box;
}

.square p {
    color: white;
}

.triangle {
    width: 0px;
    height: 0px;
    border-top: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #c2c2c2;
}

.triangle input {
    position: relative;
    top: 50px;
    right: 25px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    border: 2px solid black;
    background-color: white
}

.element {
    margin: 50px;
}

.constructor-frame {
    display: flex;
    width: 100%;
    height: 100%;
}

.library {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
}

.canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 85%;
    justify-content: center;
    align-items: center;
}

.sideBar {
    display: flex;
    flex-direction: column;
}

.sideBar button {
    width: 100%;
    box-sizing: border-box;
}