.delete-button {
    width: 20px;
    height: 20px;
    position: relative;
    top: 70px;
    left: 135px;
}

.delete-button:hover {
    background-color: rgb(136, 26, 26)
}

.delete-button:active {
    background-color: rgb(255, 0, 0)
}